.nav {
  @apply mt-[41px] px-[10px];
}
.navrow {
  @apply flex flex-wrap justify-between items-center font-poppin font-semibold text-[15px] text-[#000000];
}
.nav_logo img{
    @apply w-[60px] h-[40px] lg:w-[90px] lg:h-[60px]
}
.nav_without_logo {
  @apply hidden lg:block;
}
.nav_content {
  @apply flex justify-between gap-[110px] xl:gap-[215px];
}
.nav_service_part a:focus {
  text-decoration: underline red 4px;
}
.nav_menu_part ul {
  @apply flex flex-wrap gap-[33px];
}
.nav_menu_part ul li a:focus {
  text-decoration: underline red 4px;
}
.nav_account_part {
  @apply flex flex-wrap gap-[30px] items-center;
}
.nav_account_part a:focus {
  text-decoration: underline red 4px;
}
